/omod_1.x/marira-omod_1.x.iml
/omod_1.x/target
/omod/marira-omod.iml
/omod/target
/api/target
/api/marira-api.iml
/omod_2.x/target
/omod_2.x/marira-omod_2.x.iml
/marira.iml
# Created by .ignore support plugin (hsz.mobi)
